APP_MODEL_NAME=gpt-oss:120b-cloud
APP_MODEL_PROVIDER=ollama
APP_MODEL_TEMPERATURE=0

APP_MODEL_CALL_THREAD_LIMIT=5
APP_TOOL_CALL_THREAD_LIMIT=5

APP_SUMMARIZATION_TRIGGER_TOKENS=4000
APP_SUMMARIZATION_KEEP_MESSAGES=20

APP_HOST=0.0.0.0
APP_PORT=8000
